.Stories{
    background: #FFFFFF;
    border: 1px solid #dadada;
    border-radius: 20px;
    height: 100px;
    margin: 20px 0;
    width: 468px;
    display: flex;
    overflow: auto;

}
